.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

img {
    width:70%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

h1,p{
    text-align: center;
    padding: 0px 20px;
}

h1{
    margin: 20px;
}

p{
    margin-bottom: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0px 50px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #F5F5F5;
    box-shadow: -10px -10px 35px rgba(32, 56, 163, 0.274);
}

.box:hover{
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.267);
    background-color: #FF4655;

}

@media(max-width:800px){
    .container{
        flex-direction: column;
        height: 100%;
    }
    .box{
        margin: 50px;
    }
}