<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/generation.css">
	<link rel="stylesheet" href="assets/css/navbar.css">
    <title>Choose Generation</title>
</head>
<body>
	<header>
        <div class="ctn-logo">
            <img src="assets/img/International_Pokémon_logo.svg.png" alt="logo" class="logo">
        </div>
        <div class="nav">
            <a id="link" href="#"><span id="burger"></span></a>
            <ul class="ctn-btn">
                <li><a class="btn btn0"href="/">Home</a></li>
                <li><a class="btn btn1"href="/pokedex">Pokedex</a></li>
                <li><a class="btn btn2" href="/starters">Starters</a></li>
                <li><a class="btn btn3"  href="/generation">Generations</a></li>
            </ul>
        </div>
        <script src="assets/js/navbar.js"></script>    
    </header>
	<div class="container">
        <div class="box">
            <img src="assets/img/kanto.jpg" alt="">
            <h1>Generation 1</h1>
            <p>text random</p>
        </div>
        <div class="box">
            <img src="#" alt="">
            <h1>Generation 2</h1>
            <p>text random</p>
        </div>
        <div class="box">
            <img src="#" alt="">
            <h1>Generation 3</h1>
            <p>text random</p>
        </div>
		<div class="box">
            <img src="#" alt="">
            <h1>Generation 4</h1>
            <p>text random</p>
        </div>
		<div class="box">
            <img src="#" alt="">
            <h1>Generation 5</h1>
            <p>text random</p>
        </div>
        <div class="box">
            <img src="#" alt="">
            <h1>Generation 6</h1>
            <p>text random</p>
        </div>
        <div class="box">
            <img src="#" alt="">
            <h1>Generation 7</h1>
            <p>text random</p>
        </div>
		<div class="box">
            <img src="#" alt="">
            <h1>Generation 8</h1>
            <p>text random</p>
        </div>
    </div>
</body>
</html>
